{
  //Informe o CNPJ da empresa que irá realizar as consultas, cancelamentos e envio de RPS de teste. O CNPJ deve ser válido e estar cadastrado na prefeitura do município de São Paulo.
  "MeuCnpj": "00.878.130/0001-21",

  //Repita o seu CNPJ ou informe o CNPJ de uma filial para as consultas de Nfe emitidas e recebidas.
  "CnpjDaMinhaFilial": "00.878.130/0001-21",

  //Informe o número da inscrição municipal da empresa que irá realizar as consultas, cancelamentos e envio de RPS de teste. A inscrição municipal deve ser válida e estar cadastrada na prefeitura do município de São Paulo.
  "MinhaInscricaoMunicipal": "0.123.456-7",

  //Informe o caminho e a senha do certificado digital (e-CNPJ). O certificado deve ser válido e estar cadastrado na prefeitura do município de São Paulo.
  "Certificado:CaminhoArquivo": "C:\\Path\\To\\Certificate\\certificate.file.pfx",
  "Certificado:Senha": "Password",

  //Serviço de consulta de nota fiscal eletrônica (Nfe) - informe o número da nota a ser consultada.
  "ConsultaNfeV1:NumeroNotaFiscal": 1000,
  "ConsultaNfeV2:NumeroNotaFiscal": 1000,

  //Serviço de consulta de lote de notas fiscais eletrônicas (Nfe) - informe o número do lote a ser consultado.
  "ConsultaLoteV1:NumeroLote": 1000000007,
  "ConsultaLoteV2:NumeroLote": 1000000007,

  //Serviço de consulta de informações de lote de notas fiscais eletrônicas (Nfe). Deixe zerado para obter os dados do último lote enviado ou informe o número do lote a ser consultado.
  "ConsultaInformacoesLoteV2:NumeroLote": 0,
  "ConsultaInformacoesLoteV1:NumeroLote": 0,

  //Serviço de consulta de notas fiscais eletrônicas (Nfe) recebidas.
  //NumeroPagina = número da página a ser consultada (caso tenha mais de uma página).
  //ConsultaNDiasAtras = número de dias para trás a partir da data atual para filtrar as notas fiscais eletrônicas (Nfe) recebidas - o máximo permitido é 31.
  "ConsultaNfeRecebidasV1:NumeroPagina": 1,
  "ConsultaNfeRecebidasV1:ConsultaNDiasAtras": 31,
  "ConsultaNfeRecebidasV2:NumeroPagina": 1,
  "ConsultaNfeRecebidasV2:ConsultaNDiasAtras": 31,

  //Serviço de consulta de notas fiscais eletrônicas (Nfe) emitidas.
  //NumeroPagina = número da página a ser consultada (caso tenha mais de uma página).
  //ConsultaNDiasAtras = número de dias para trás a partir da data atual para filtrar as notas fiscais eletrônicas (Nfe) emitidas - o máximo permitido é 31.
  "ConsultaNfeEmitidasV1:NumeroPagina": 1,
  "ConsultaNfeEmitidasV1:ConsultaNDiasAtras": 31,
  "ConsultaNfeEmitidasV2:NumeroPagina": 1,
  "ConsultaNfeEmitidasV2:ConsultaNDiasAtras": 31,

  //Serviço para consulta de inscrição municipal de um contribuinte CNPJ.
  "ConsultaCnpjV1:CnpjAConsultar": "84.067.820/0001-90",
  "ConsultaCnpjV2:CnpjAConsultar": "84.067.820/0001-90",

  //Serviço para cancelamento de nota fiscal eletrônica (Nfe) - informe o número da nota a ser cancelada.
  //NumeroNfeParaCancelar = número da nota fiscal eletrônica (Nfe) a ser cancelada.
  "CancelamentoNfeV1:NumeroNfeParaCancelar": 1000,
  "CancelamentoNfeV2:NumeroNfeParaCancelar": 1000,

  //Serviço para envio de RPS de teste na versão 1.
  //Tomador do serviço. O CNPJ do tomador deve ser válido.
  "EnvioRpsTesteV1:CnpjTomador": "33.579.346/0001-45",
  "EnvioRpsTesteV1:RazaoSocialTomador": "RAZAO SOCIAL TOMADOR S/A",
  //O campo "TributacaoNfe" representa o tpTributacaoNfe na documentação: https://notadomilhao.sf.prefeitura.sp.gov.br/wp-content/uploads/2026/01/Nfe_Web_Service.pdf
  "EnvioRpsTesteV1:TributacaoNfe": "T",
  //O campo "TipoRps" representa o tpTipoRPS na documentação: https://notadomilhao.sf.prefeitura.sp.gov.br/wp-content/uploads/2026/01/Nfe_Web_Service.pdf
  "EnvioRpsTesteV1:TipoRps": "Rps",
  //"CodigoServico" pode ser consultado aqui https://drive.prefeitura.sp.gov.br/cidade/secretarias/upload/arquivos/secretarias/financas/legislacao/IN-SF-Surem-08-2011-Anexo-1.pdf
  "EnvioRpsTesteV1:CodigoServico": "03158",
  "EnvioRpsTesteV1:Discriminacao": "SERVIÇO PRESTADO CONFORME SOLICITADO",
  //Os demais campos são obrigatórios mas o conteúdo é livre.
  "EnvioRpsTesteV1:SerieRps": "RPS",
  "EnvioRpsTesteV1:NumeroRps": 100001,
  "EnvioRpsTesteV1:IssRetido": false,
  "EnvioRpsTesteV1:Aliquota": 0.0796,
  "EnvioRpsTesteV1:ValorServicos": 350.00,
  //UfTomador, CidadeTomador e BairroTomador são opcionais: quando informados, o endereço do tomador é incluído no RPS. Omita ou deixe vazio para enviar o tomador sem endereço.
  "EnvioRpsTesteV1:UfTomador": "SP",
  "EnvioRpsTesteV1:CidadeTomador": "3550308",

  //Serviço para envio de RPS de teste na versão 2.
  //Tomador do serviço. O CNPJ do tomador deve ser válido.
  "EnvioRpsTesteV2:CnpjTomador": "33.579.346/0001-45",
  "EnvioRpsTesteV2:RazaoSocialTomador": "RAZAO SOCIAL TOMADOR S/A",
  //O campo "TributacaoNfe" representa o tpTributacaoNfe na documentação: https://notadomilhao.sf.prefeitura.sp.gov.br/wp-content/uploads/2026/01/Nfe_Web_Service.pdf
  "EnvioRpsTesteV2:TributacaoNfe": "T",
  //O campo "TipoRps" representa o tpTipoRPS na documentação: https://notadomilhao.sf.prefeitura.sp.gov.br/wp-content/uploads/2026/01/Nfe_Web_Service.pdf
  "EnvioRpsTesteV2:TipoRps": "Rps",
  //"CodigoServico" pode ser consultado aqui https://drive.prefeitura.sp.gov.br/cidade/secretarias/upload/arquivos/secretarias/financas/legislacao/IN-SF-Surem-08-2011-Anexo-1.pdf
  "EnvioRpsTesteV2:CodigoServico": "03158",
  "EnvioRpsTesteV2:Discriminacao": "SERVIÇO PRESTADO CONFORME SOLICITADO",
  //ExigibilidadeSuspensa = true indica que a emissão é com exigibilidade suspensa.
  "EnvioRpsTesteV2:ExigibilidadeSuspensa": false,
  //PagamentoParceladoAntecipado = true indica que a nota teve pagamento parcelado antecipado
  "EnvioRpsTesteV2:PagamentoParceladoAntecipado": false,
  //CodigoNBS pode ser consultado aqui https://www.gov.br/produtividade-e-comercio-exterior/pt-br/images/REPOSITORIO/scs/decos/NBS/Anexoa_Ia_NBSa_2.0a_coma_alteraa_esa_6.12.18.pdf, e nesse site fica disponível sua conversão para a classificação tributária https://www.gov.br/nfse/pt-br/biblioteca/documentacao-tecnica/rtc/anexoviii-correlacaoitemnbsindopcclasstrib_ibscbs_v1-00-00.xlsx/view
  "EnvioRpsTesteV2:CodigoNBS": "115900000",
  //CodigoMunicipioIbge pode ser consultado aqui https://www.ibge.gov.br/explica/codigos-dos-municipios.php
  "EnvioRpsTesteV2:CodigoMunicipioIbge": 3550308,
  //CodigoOperacao pode ser consultado aqui https://www.gov.br/nfse/pt-br/biblioteca/documentacao-tecnica/anexovii-indop_ibscbs_v1-00-00.xlsx/view
  "EnvioRpsTesteV2:CodigoOperacao": "050101",
  //ClassificacaoTributaria pode ser consultada aqui https://dfe-portal.svrs.rs.gov.br/DFE/ClassificacaoTributaria
  "EnvioRpsTesteV2:ClassificacaoTributaria": "410004",
  //Os demais campos são obrigatórios mas o conteúdo é livre.
  "EnvioRpsTesteV2:SerieRps": "RPS",
  "EnvioRpsTesteV2:NumeroRps": 100001,
  "EnvioRpsTesteV2:IssRetido": false,
  "EnvioRpsTesteV2:Aliquota": 0.0796,
  "EnvioRpsTesteV2:ValorServicos": 350.00,
  //UfTomador, CidadeTomador e BairroTomador são opcionais: quando informados, o endereço do tomador é incluído no RPS. Omita ou deixe vazio para enviar o tomador sem endereço.
  "EnvioRpsTesteV2:UfTomador": "SP",
  "EnvioRpsTesteV2:CidadeTomador": "3550308"
}